LogicApp-TAPbySMS.json

{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP": {
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "type": "ManagedServiceIdentity"
                    },
                    "body": {
                        "data": {
                            "operationStatus": "Completed"
                        },
                        "source": "sample",
                        "type": "lifecycleEvent"
                    },
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/beta@{triggerBody()?['data']?['callbackUriPath']}"
                },
                "runAfter": {
                    "Scope_-_SMS": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Scope_-_Get_userdata_and_TAP": {
                "actions": {
                    "HTTP_-_Get_TAP_for_user": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "isUsableOnce": false,
                                "lifetimeInMinutes": 600,
                                "startDateTime": "@utcNow()"
                            },
                            "method": "POST",
                            "uri": "https://graph.microsoft.com/beta/users/@{triggerBody()?['data']?['subject']?['id']}/authentication/temporaryAccessPassMethods"
                        },
                        "runAfter": {
                            "Parse_JSON_-_Userdata": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "HTTP_-_Get_user_Private_Phonenumber": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "method": "GET",
                            "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['data']?['subject']?['id']}?$select=mobilePhone,displayName"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "Parse_JSON_-_TAP_data": {
                        "inputs": {
                            "content": "@body('HTTP_-_Get_TAP_for_user')",
                            "schema": {
                                "properties": {
                                    "@@odata.type": {
                                        "type": "string"
                                    },
                                    "createdDateTime": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "isUsable": {
                                        "type": "boolean"
                                    },
                                    "isUsableOnce": {
                                        "type": "boolean"
                                    },
                                    "lifetimeInMinutes": {
                                        "type": "integer"
                                    },
                                    "methodUsabilityReason": {
                                        "type": "string"
                                    },
                                    "startDateTime": {
                                        "type": "string"
                                    },
                                    "temporaryAccessPass": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "HTTP_-_Get_TAP_for_user": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Parse_JSON_-_Userdata": {
                        "inputs": {
                            "content": "@body('HTTP_-_Get_user_Private_Phonenumber')",
                            "schema": {
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "displayName": {
                                        "type": "string"
                                    },
                                    "mobilePhone": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "HTTP_-_Get_user_Private_Phonenumber": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    }
                },
                "runAfter": {},
                "type": "Scope"
            },
            "Scope_-_SMS": {
                "actions": {
                    "Get_secret_-_Get_KPN_API_secret": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent('KPN-SMS-API-secret')}/value"
                        },
                        "runAfter": {},
                        "runtimeConfiguration": {
                            "secureData": {
                                "properties": [
                                    "outputs"
                                ]
                            }
                        },
                        "type": "ApiConnection"
                    },
                    "HTTP_-_Get_token_for_KPN_SMS_API": {
                        "inputs": {
                            "authentication": {
                                "password": "@{body('Get_secret_-_Get_KPN_API_secret')?['value']}",
                                "type": "Basic",
                                "username": "xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                            },
                            "method": "POST",
                            "uri": "https://api-prd.kpn.com/oauth/client_credential/accesstoken?grant_type=client_credentials"
                        },
                        "runAfter": {
                            "Get_secret_-_Get_KPN_API_secret": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "HTTP_-_Send_SMS_via_KPN_SMS_API": {
                        "inputs": {
                            "body": {
                                "messages": [
                                    {
                                        "content": "Beste @{body('Parse_JSON_-_Userdata')?['displayName']}, welkom bij .... Je kunt tot @{formatDateTime(addMinutes(body('Parse_JSON_-_TAP_data')?['startDateTime'], body('Parse_JSON_-_TAP_data')?['lifetimeInMinutes']),'dd-MM-yyyy HH:mm')} inloggen met je mailadres en de code: @{body('Parse_JSON_-_TAP_data')?['temporaryAccessPass']}",
                                        "mobile_number": "@{body('Parse_JSON_-_Userdata')?['mobilePhone']}"
                                    }
                                ],
                                "sender": "xxxxxx"
                            },
                            "headers": {
                                "Authorization": "Bearer @{body('HTTP_-_Get_token_for_KPN_SMS_API')?['access_token']}"
                            },
                            "method": "POST",
                            "uri": "https://api-prd.kpn.com/communication/kpn/sms/send"
                        },
                        "runAfter": {
                            "HTTP_-_Get_token_for_KPN_SMS_API": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "staticResult": {
                                "name": "HTTP_-_Send_SMS_via_KPN_SMS_API0",
                                "staticResultOptions": "Disabled"
                            }
                        },
                        "type": "Http"
                    }
                },
                "runAfter": {
                    "Scope_-_Get_userdata_and_TAP": [
                        "Succeeded"
                    ]
                },
                "type": "Scope"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "staticResults": {
            "HTTP_-_Send_SMS_via_KPN_SMS_API0": {
                "outputs": {
                    "headers": {},
                    "statusCode": "OK"
                },
                "status": "Succeeded"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "data": {
                                "properties": {
                                    "callbackUriPath": {
                                        "description": "CallbackUriPath used for Resume Action",
                                        "title": "Data.CallbackUriPath",
                                        "type": "string"
                                    },
                                    "subject": {
                                        "properties": {
                                            "displayName": {
                                                "description": "DisplayName of the Subject",
                                                "title": "Subject.DisplayName",
                                                "type": "string"
                                            },
                                            "email": {
                                                "description": "Email of the Subject",
                                                "title": "Subject.Email",
                                                "type": "string"
                                            },
                                            "id": {
                                                "description": "Id of the Subject",
                                                "title": "Subject.Id",
                                                "type": "string"
                                            },
                                            "manager": {
                                                "properties": {
                                                    "displayName": {
                                                        "description": "DisplayName parameter for Manager",
                                                        "title": "Manager.DisplayName",
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "description": "Mail parameter for Manager",
                                                        "title": "Manager.Mail",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "Id parameter for Manager",
                                                        "title": "Manager.Id",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "userPrincipalName": {
                                                "description": "UserPrincipalName of the Subject",
                                                "title": "Subject.UserPrincipalName",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "task": {
                                        "properties": {
                                            "displayName": {
                                                "description": "DisplayName for Task Object",
                                                "title": "Task.DisplayName",
                                                "type": "string"
                                            },
                                            "id": {
                                                "description": "Id for Task Object",
                                                "title": "Task.Id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "taskProcessingResult": {
                                        "properties": {
                                            "createdDateTime": {
                                                "description": "CreatedDateTime for TaskProcessingResult Object",
                                                "title": "TaskProcessingResult.CreatedDateTime",
                                                "type": "string"
                                            },
                                            "id": {
                                                "description": "Id for TaskProcessingResult Object",
                                                "title": "TaskProcessingResult.Id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "workflow": {
                                        "properties": {
                                            "displayName": {
                                                "description": "DisplayName for Workflow Object",
                                                "title": "Workflow.DisplayName",
                                                "type": "string"
                                            },
                                            "id": {
                                                "description": "Id for Workflow Object",
                                                "title": "Workflow.Id",
                                                "type": "string"
                                            },
                                            "workflowVerson": {
                                                "description": "WorkflowVersion for Workflow Object",
                                                "title": "Workflow.WorkflowVersion",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "source": {
                                "description": "Context in which an event happened",
                                "title": "Request.Source",
                                "type": "string"
                            },
                            "type": {
                                "description": "Value describing the type of event related to the originating occurrence.",
                                "title": "Request.Type",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },


